.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  background-image: url('../img/backgroundbody.jpg');
  width: 1000px;
  background-size: 1150px 100%;
  background-repeat: no-repeat;
  background-position: center;
}
